<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .danger {
            padding: 5px;
            background-color: #ff6347;
            color: #fff;
        }
    </style>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script>
            // document.addEventListener('DOMContentLoaded', function() {
            //     var elems = document.querySelectorAll('select');
            //     var instances = M.FormSelect.init(elems);
            // });
     </script>
     <!-- <script src="../call-paths.json">
        
     </script> -->
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <link rel="import" href="call-paths.json">
</head>
<body>

<div id="app">
    <div class="container">
        <h4 class="center">Рассчитать дешевый маршрут</h4>
        <div class="row">
            <div class="col s4 z-depth-1">
                <!-- <form action="#"> -->

                    <div class="col s12 countries">
                        <label>Звонящая сторона (Caller)</label>
                        <select v-model="callerSelected">
                            <option v-for="(country,index) in countries" :key="index" :value="country">{{countries[index]}}</option>
                        </select>
                    </div>

                    <div class="col s12 countries">
                        <label>Принимающая сторона (Calee)</label>
                        <select v-model="caleeSelected">
                            <option v-for="(country,index) in countries" :key="index" :value="country">{{countries[index]}}</option>
                        </select>
                    </div>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in orange"/>
                            <span>Все</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in"/>
                            <span>Прямое соединение</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in"/>
                            <span>Один дополнительный узел</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in"/>
                            <span>Два дополнительных узла</span>
                        </label>
                    </p>
                <!-- </form> -->
            </div>
            <div class="col s8">
                <!-- {{countries}} -->
                {{callRoutes}}
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script> -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            callsInfo: [],
            countries:[],
            callerSelected: '',
            caleeSelected: '',
            filterAll: true,
            filterDirect: false,
            filterOneNode: false,
            filterTwoNodes: false
        },
        computed: {
            callRoutes() {
                let callRoutes = [];
                console.log(this.callerSelected)
                // this.callsInfo.filter(item=> {
                //     console.log(item)
                // })
                return this.callsInfo
            },
            // callsFormed() {
            //     return this.callsInfo
            // }
        },
        created() {
            axios.get("call-paths.json").then(response=> {
                let data = response.data.data
                this.countries = data.country
                this.callerSelected = this.countries[Object.keys(this.countries)[0]]
                this.caleeSelected = this.countries[Object.keys(this.countries)[1]]
                let callsInfo = [];
                for (let providersName in data.company) {
                    let callsInfoDivided = data.company[providersName]
                    callsInfoDivided.map(item => {
                        item.providersName = providersName;
                    })
                    callsInfo.push(...callsInfoDivided)
                }
                console.log(callsInfo)
                this.callsInfo = callsInfo;
            })
        },
        mounted() {
        },
    })
</script>
<style>
    select {
        display: unset;
    }
    .countries{
        margin: 10px 0;
    }
</style>
</body>
</html>