<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .danger {
            padding: 5px;
            background-color: #ff6347;
            color: #fff;
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="import" href="call-paths.json">
</head>
<body>

<div id="app">
    <div class="container">
        <h4 class="center">Рассчитать дешевый маршрут</h4>
        <div class="row z-depth-1 main_app">
            <div class="col s4">
                    <div class="col s12 countries">
                        <label>Звонящая сторона (Caller)</label>
                        <select class="browser-default" v-model="callerSelected">
                            <option v-for="(country,index) in countries" :key="index" :value="country">{{countries[index]}}</option>
                        </select>
                    </div>

                    <div class="col s12 countries">
                        <label>Принимающая сторона (Callee)</label>
                        <select class="browser-default" v-model="calleeSelected">
                            <option v-for="(country,index) in countries" :key="index" :value="country">{{countries[index]}}</option>
                        </select>
                    </div>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in orange" v-model="filterAll"/>
                            <span class="checkbox">Все</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input :disabled="filterAll" type="checkbox" class="filled-in" v-model="filterDirect"/>
                            <span class="checkbox">Прямое соединение</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input :disabled="filterAll" type="checkbox" class="filled-in" v-model="filterOneNode"/>
                            <span class="checkbox">Один дополнительный узел</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input :disabled="filterAll" type="checkbox" class="filled-in" v-model="filterTwoNodes"/>
                            <span class="checkbox">Два дополнительных узла</span>
                        </label>
                    </p>
            </div>
            <div class="col s8">
                <ul class="calls">
                    <li class="call row" v-for="(call,index) in calls" :key="index">
                        <div class="fullprice col s2">
                            <span class="fullprice__span">{{fullPrice(call)}}$</span>
                        </div>
                        <div class="call_info col s10">
                            <div class="call__item  col" v-for="(item,index) in call" :key="index">
                                <span v-show="call.indexOf(item)===0" style="font-size: 28px;">{{item.src}}</span>
                                <div class="provider">
                                    <span class="provider__name provider__name_first">{{item.providersName}} {{item.price}}$</span>
                                    <i class="medium material-icons">arrow_forward</i>
                                </div>
                                <span style="font-size: 28px;">{{item.des}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <p v-if="calls.length===0" style="text-align: center;">Нет совпадений </p>
                <ul v-else class="pagination center">
                    <li :class="{disabled:this.page === 1}" @click="previousPage"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    <li class="waves-effect" :class="{'active': counterNum===page}" v-for="(counterNum,index) in pages" :key="index" @click="page=counterNum"><a href="#!">{{counterNum}}</a></li>
                    <li :class="{disabled:this.page === this.pages}" class="waves-effect" @click="nextPage"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            callsInfo: [],
            countries:[],
            callerSelected: '',
            calleeSelected: '',
            filterAll: true,
            filterDirect: true,
            filterOneNode: true,
            filterTwoNodes: true,
            page: 1,
            callsPerPage:4,
        },
        computed: {
            callRoutes() {
                let callRoutes = [];
                this.callsInfo.filter(item => {
                    if (item.src === this.countryCode.caller && item.des === this.countryCode.callee) {
                        callRoutes.push([item])
                    }
                })
                this.callsInfo.filter(secondItem => {
                    if (secondItem.des === this.countryCode.callee) {
                        this.callsInfo.filter(firstItem => {
                            if ((firstItem.src === this.countryCode.caller) && (firstItem.des === secondItem.src) && (firstItem.src!==secondItem.des)) {
                                callRoutes.push([firstItem,  secondItem])
                            }
                        })
                    }
                })
                this.callsInfo.filter(thirdItem => {
                    if (thirdItem.des === this.countryCode.callee) {
                        this.callsInfo.filter(firstItem => {
                            if ((firstItem.src === this.countryCode.caller)) {
                                this.callsInfo.filter(secondItem => {
                                    if ((secondItem.src === firstItem.des && secondItem.des === thirdItem.src) && (firstItem.src!==secondItem.des) && (firstItem.src!==thirdItem.des) && (secondItem.src !== thirdItem.des)) {
                                        callRoutes.push([firstItem,  secondItem, thirdItem])
                                    }
                                })
                            }
                        })
                    }
                })
                if (this.filterDirect && this.filterOneNode && !this.filterTwoNodes) {
                    callRoutes = callRoutes.filter(item=> {
                        return (item.length===1 || item.length===2)
                    })
                } else if (!this.filterDirect && this.filterOneNode && this.filterTwoNodes) {
                    callRoutes = callRoutes.filter(item=> {
                       return (item.length===2 || item.length===3)
                    })
                } else if (this.filterDirect && !this.filterOneNode && this.filterTwoNodes) {
                    callRoutes = callRoutes.filter(item=> {
                       return (item.length===1 || item.length===3)
                    })
                } else if (this.filterDirect && !this.filterOneNode && !this.filterTwoNodes) {
                    callRoutes = callRoutes.filter(item=> {
                       return (item.length===1)
                    })
                } else if (!this.filterDirect && this.filterOneNode && !this.filterTwoNodes) {
                    callRoutes = callRoutes.filter(item=> {
                       return (item.length===2)
                    })
                } else if (!this.filterDirect && !this.filterOneNode && this.filterTwoNodes) {
                    callRoutes = callRoutes.filter(item=> {
                       return (item.length===3)
                    })
                } else if (!this.filterDirect && !this.filterOneNode && !this.filterTwoNodes) {
                    callRoutes = callRoutes.filter(item=> {
                       return null
                    })
                }
                return callRoutes.sort((a,b)=>{
                    return a.reduce((accumulator, currentValue)=> {
                        return accumulator + currentValue.price
                    }, 0) - b.reduce((accumulator, currentValue)=> {
                        return accumulator + currentValue.price
                    }, 0)
                })
            },
            countryCode() {
                return { caller: this.getKeyByValue(this.countries, this.callerSelected) === 'us' ? 'usa' : this.getKeyByValue(this.countries, this.callerSelected), callee: this.getKeyByValue(this.countries, this.calleeSelected) === 'us' ? 'usa' : this.getKeyByValue(this.countries, this.calleeSelected)}
            },
            callsCount() {
                return this.callRoutes.length
            },
            pages() {
                return Math.ceil(this.callsCount/this.callsPerPage)
            },
            calls() {
            const offset = (this.page - 1) * this.callsPerPage;
            return this.callRoutes.slice(offset, offset + this.callsPerPage);
            }
        },
        created() {
            axios.get("/call-paths.json").then(response=> {
                let data = response.data.data
                this.countries = data.country
                this.callerSelected = this.countries[Object.keys(this.countries)[0]]
                this.calleeSelected = this.countries[Object.keys(this.countries)[1]]
                let callsInfo = [];
                for (let providersName in data.company) {
                    let callsInfoDivided = data.company[providersName]
                    callsInfoDivided.map(item => {
                        item.providersName = providersName;
                    })
                    callsInfo.push(...callsInfoDivided)
                }
                this.callsInfo = callsInfo;
            })
        },
        methods: {
            getKeyByValue(object, value) {
                return Object.keys(object).find(key => object[key] === value);
            },
            fullPrice(call) {
                return call.reduce((accumulator, currentValue)=> {
                    return accumulator + currentValue.price
                }, 0)
            },
            nextPage(){
                this.page < this.pages? this.page += 1 : false;
            },
            previousPage(){
                this.page > 1? this.page -= 1 : false;
            }
        },
        mounted() {
        },
        watch: {
            filterAll(newValue) {
                if (newValue) {
                    this.filterDirect = true
                    this.filterOneNode = true
                    this.filterTwoNodes = true
                    this.page = 1;
                }
            },
            filterDirect() {
                this.page = 1;
            },
            filterOneNode() {
                this.page = 1;
            },
            filterTwoNodes() {
                this.page = 1;
            },
            callerSelected() {
                this.page = 1;
            },
            calleeSelected() {
                this.page = 1;
            },
        }
    })
</script>
<style>
    .main_app {
        border-radius: 5px;
    }
    .countries{
        margin: 10px 0;
    }
    .call {
        height: 120px;
        margin-bottom: 20px;
        background-color: rgb(230, 228, 228);
    }
    .checkbox::after, .checkbox::before {
        top: 3px !important;
    }
    .fullprice {
        background: #26a69a;
        height: 120px;
        position: relative;
    }
    .fullprice__span {
        color: white;
        position: absolute;
        top: 27%;
        left: 28%;
        font-size: 32px;
    }
    .call_info {
        margin-top: 15px;
    }
    .call__item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
    }
    .provider {
        position: relative;
        height: 120px;
        margin-right: 25px;
    }

    .provider__name {
        position: absolute;
        text-align: center;
        border-radius: 20px;
        font-size: 18px;
        top: 54px;
        width: 120px;
        background-color: #26a69a;
        color: white;
    }
    .provider__name_first {
        left: -25px;
    }
</style>
</body>
</html>